<div class="accordions-container row justify-content-center">

    <div class="accordion-container col-10">
        <nb-accordion multi>


            <nb-accordion-item>
                <nb-accordion-item-header>
                    ¿Cuál es el ámbito de aplicación del nuevo Decreto 830 de 2021?

                </nb-accordion-item-header>
                <nb-accordion-item-body>


                    No tiene aplicación restringida a un sector en concreto ni está vinculado a un sistema de prevención y gestión de riesgos en específico (llámese SAGRILAFT, SARLAFT, SIPLAFT o cualquier otro). Se trata de una regulación general en aplicación de lo dispuesto en el Art. 52 de la Convención de las Naciones Unidas contra la corrupción y Recomendaciones del GAFI y como tal tiene aplicación en todo el territorio nacional independiente de la regulación que aplique a un sujeto obligado.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    Contraseña bloqueada ¿Qué hago?

                </nb-accordion-item-header>
                <nb-accordion-item-body>


                    Cuando se ingresa 3 veces de forma incorrecta la contraseña se bloquea. Se debe solicitar al administrador de la cuenta ingresar a configuración, consultar usuario y allí selecciona la opción restablecer contraseña y es importante cambiar el estado de inactivo a activo.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    Los testigos se registran en Inspektor

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Para efectos de los sistemas de gestión de riesgos LA/FT/CO y alineado con el servicio de consulta en Listas que ofrece nuestra compañía, es importante aclarar en el marco de actuaciones procesales judiciales ¿quiénes son objeto de inclusión en nuestra base de datos? y ¿por qué?, debiendo indicar desde ya que no se hace análisis, inclusión o reporte alguno de persona diferente al procesado (entre ellos los testigos). Se debe recordar que un testigo es llamado al proceso para que rinda su declara
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Cómo cargar las listas propias?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Este proceso solo lo puede realizar el rol administrador.

                    Para realizar el cargue de una lista propia, deben dirigirse al módulo listas restrictivas, sub-modulo cargar listas propias, verán la opción seleccionar archivo y allí deben cargar la plantilla enviada por nosotros con la información.

                    Para realizar este proceso, recuerden lo siguiente:

                    1. Todos los datos que se ingresen deberán ser diligenciados con precisión debido a que las Listas Propias solo manejan prioridad 1.

                    2. No
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Puede una persona jurídica cometer un delito en Colombia?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    ¡En Colombia no existe un régimen de responsabilidad penal de las personas jurídicas!



                    En este sentido, bajo ningún contexto, puede hablarse de la comisión de un delito por una empresa y cuando el mismo se geste en su interior o a través de la misma, se evaluará quiénes son las personas naturales que concurrieron a su realización y es sobre las mismas que recaerá la acción penal y las consecuencias derivadas del delito.



                    Ahora, la empresa (personas jurídicas en general), puede resu
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Puede una persona jurídica cometer un delito en Colombia?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    ¡En Colombia no existe un régimen de responsabilidad penal de las personas jurídicas!
                    En este sentido, bajo ningún contexto, puede hablarse de la comisión de un delito por una empresa y cuando el mismo se geste en su interior o a través de la misma, se evaluará quiénes son las personas naturales que concurrieron a su realización y es sobre las mismas que recaerá la acción penal y las consecuencias derivadas del delito.

                    Ahora, la empresa (personas jurídicas en general), puede resultar vincul
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿La consulta arroja un mensaje de error?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Si al realizar la consulta se obtiene un mensaje en pantalla de ¡Error! con el texto "Error al cargar la información. Referencia a objeto no establecida como instancia de un objeto (...)", ello se debe a que se ha superado el tiempo de inactividad en Inspektor. En este caso, es necesario loguearse de nuevo en la aplicación y realizar de nuevo la consulta.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Por qué arroja error la consulta masiva de PGN y Rama Judicial?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Para quienes tienen contratado este servicio, en las consultas masivas es importante mantener los formatos tal y como se han puesto a disposición ingresando la información completa que se requiere. Para la consulta masiva en Procuraduría y Rama Judicial exige incluir información correspondiente al tipo de Identificación, debiendo recordar que "PEP : 0 , Cédula de ciudadanía : 1, Nit: 2 y Cédula de extranjería: 5".  Adicionalmente, para los tipos de identificación NIT, se deberá ingresar el dígit
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué hacer cuando un tercero tiene coincidencia en la lista OFAC?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Se deberá descartar que no se trate de la misma persona validando los datos del tercero. Si se confirma que es la persona se deberá reportar al oficial de cumplimiento y/o encargado y acatar las politicas u procedimientos de el SARLAFT correspondiente a la entidad.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Por qué en una consulta aparece coincidencia de prioridad 3?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Debido a que la información la obtenemos de medios públicos, no en todos los casos se obtienen los números de identificación y por tanto registran estos llamados homónimos los cuales se podrán descartar verificando la información de la noticia registrada en la coincidencia, con datos como el lugar de nacimiento, el lugar de los hechos, la edad, el cargo y hasta la foto de la persona si es que aparece.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Que función tiene el Reporte de Consultas y Coincidencias Detalle?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Este Submódulo permitirá ver el número de veces consultado un tercero en el rango de fechas, el usuario que realiza la gestión, el número de consulta obtenido y el detalle de la información del registrado en la herramienta.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Por qué no arroja coincidencias una consulta de un NIT con digito de verificación?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Las personas jurídicas se deben de consultar sin el digito de verificación, ya que estas se encuentran ingresadas en nuestra herramienta sin dicho número. Sin embargo, cuando se habilita la consulta en línea de la Procuraduría será posible diligenciarlo en una casilla aparte puesto que la pagina como tal lo solicita
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa cuando en una consulta aparece coincidencia de prioridad 2?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Si al consultar un tercero le da como resultado prioridad 2, es porque el tercero tiene coincidencia únicamente en el número del documento y en este caso la forma de descartarlo es, comparando la información del registrado con en la herramienta con la Procuraduría, Rama Judicial y en caso de ser persona jurídica en RUES.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el correo enviado por ustedes que dice Notificación de coincidencia Prioridad 3?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Quiere decir que su usuario y/o algún otro ya creado a cargo suyo, realizo una consulta de la cual se obtuvo como resultado una coincidencia en este caso de prioridad 3 y la herramienta se lo está notificando.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el correo enviado por ustedes que dice Notificación de coincidencia Prioridad 2?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Quiere decir que algún usuario de la plataforma, realizo una consulta de la cual se obtuvo como resultado una coincidencia en este caso de prioridad 2 y la herramienta se lo está notificando.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el correo enviado por ustedes que dice Notificación de coincidencia Prioridad 1?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Quiere decir que algún usuario de la plataforma, realizo una consulta de la cual se obtuvo como resultado una coincidencia en este caso de prioridad 1 y la herramienta se lo está notificando.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa  EL NUMERO DE IDENTIFICACION CONSULTADO NO SE ENCUENTRA REGISTRADO EN EL SISTEMA ?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Este mensaje únicamente aparece cuando se añade la consulta en línea de la Procuraduría y dentro de la información de esa página como tal aun no están registrados los antecedentes. En casos de tal índole es necesario informar al tercero que se comunique con la página de la Procuraduría.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿En que consiste el sistema automático de monitoreo transaccional?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Es un servicio de la herramienta donde se monitorea todas las consultas que se hagan en la plataforma informando si se llegan a encontrar coincidencias posteriormente. Cada vez que se consulte una persona, la herramienta almacena esta información y si esta persona en el futuro llegara a ser ingresada o actualizada en alguna de las listas, se notificara automáticamente mediante el correo electrónico parametrizado y no tener que hacer consulta de la misma persona.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Como puedo generar un reporte de una consulta?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Al momento de generar un reporte, deberá tener en cuenta, que el navegador cuente con la habilitación de ventanas emergentes, que no se haya otra ventana emergente abierta de la herramienta y si la tiene, lo recomendado será cerrarla y luego dar clic en Generar Reporte para que abra la información actualizada.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Quiero saber para qué sirve la opción de PEP en el tipo de documento?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    El tipo de documento PEP, solicitado en la página de la Procuraduría es el tipo de documento  Permiso Especial de Permanencia  establecido para las personas provenientes de Venezuela.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Como puedo descargar un reporte donde aparezca información de consultas realizadas, la cantidad por número de consulta, nombre de la persona y tercero consultado?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Un reporte del cual se puede obtener información completa se puede obtener únicamente con el usuario que tenga rol Administrador, por medio del módulo Log, sub modulo Reporte de Consultas &amp; Coincidencias. Luego deberá seleccionar el rango de fechas del cual quiera la información y da clic en el icono de Excel.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Como puedo consultar personas con pasaporte?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Para realizar la consulta de persona con pasaporte es necesario ingresarlo con letras y números. No deberá habilitar Consulta en línea de la Procuraduría ni Rama Judicial, puesto que las paginas fuente no manejan este documento y lo que hará la herramienta será consultar las listas de la base de datos.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa que en una consulta aparece coincidencia de prioridad 1?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Si al consultar un tercero le da como resultado prioridad 1, significa que se encontró coincidencia exacta en el documento de identificación y nombre.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el grupo de color verde?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    El grupo de color verde se encuentran listas informativas y personas políticamente y públicamente expuestas.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el grupo de listas de color rojo?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    El grupo de color rojo  Listas Restrictivas  se encuentran personas y empresas relacionadas directamente con lavado de activos y financiación del terrorismo, específicamente con las listas OFAC y ONU.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el grupo de listas de color amarillo?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    El grupo de color amarillo se encuentran listas de las empresas o personas que actualmente presentan inconveniente en su área financiera, económica, operativa y/o administrativa (no quiere decir que estén directamente relacionadas a delitos LAFT, pero si pueden estar vulnerables a estos).
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Quiero saber por qué la lista de color naranja pertenece al grupo “listas asociadas al LA/FT y anticorrupción ?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Las listas de color naranja asocian medidas de cautela y/o investigación que involucran desde delitos contra la administración pública, lavado de activos hasta fraude fiscal. Esto para poder diferenciar las listas  restrictivas  de las  vinculantes
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Cómo puedo obtener un archivo con las listas actuales de Inspektor?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Para poder enviar el documento actualizado que contiene la información de las listas y la colorimetría actual de Inspektor, le solicitamos nos envíe el requerimiento al correo: soporte@riskconsultingcolombia.com por este medio enviaremos el archivo con la información solicitada al correo que nos indique.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Cuáles son los motivos por los cuales un tercero natural o jurídico es eliminado de la OFAC?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Cuando registra una persona Natural o Jurídica en la lista OFAC la única razón por la cual pudo estar registrado es porque tuvo vínculos con lavado de activos, narcotráfico, terrorismo y algunos por corrupción y en el caso de ser eliminados es porque generalmente se acogen a algún acuerdo económico o logran comprobar el origen de sus ingresos
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Es posible consultar una tarjeta de identidad en Inspektor?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    En nuestra base de datos sí es posible consultar un tercero identificado con tarjeta de identidad, sin embargo, para realizar esta consulta se deben deshabilitar las opciones de Procuraduría y Rama Judicial, ya que estas páginas no contemplan el parámetro de búsqueda con este tipo de identificación.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Es necesario habilitar la prioridad tres?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Este tipo de prioridad corresponde a coincidencias únicamente en el nombre, en caso de no requerir dicha opción, el usuario puede deshabilitarla y el sistema no deberá realizar la consulta utilizando esa prioridad. Pero siempre se recomienda dejarla habilitada.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Cómo puedo acceder al manual de usuario en Inspektor?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Nuestra herramienta cuenta con un instructivo que le permite conocer los diferentes procesos que puede llevar a cabo según el rol establecido para un usuario. Para acceder a este manual debe realizar los siguientes pasos: 1. Dirigirse al módulo MI CUENTA 2. Sub – Modulo AYUDA 3. MANUAL DEL USUARIO, 4. VER MANUAL DE SUARIO, en esta opción usted puede descargar el instructivo en formato PDF.  Se debe tener en cuenta que cada usuario tendrá el manual disponible según el rol que le corresponda.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿El aplicativo cuenta con una opción que indique cuando se actualizó cada una de las listas?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Cuando se realiza una consulta en nuestra base de datos, el detalle de la información le indicará la fecha en que el registro fue actualizado. Sin embargo, un módulo en donde usted pueda consultar una fecha exacta de actualización de listas no está disponible dado que la gran mayoría de ellas se actualizan diariamente con nueva información.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Puedo reemplazar la información contenida en una lista propia?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    La información contenida en la base de listas propias sí se puede modificar, no obstante, Para realizar este proceso, tenga en cuenta lo siguiente:   a) Todos los datos que se ingresen deberán ser diligenciados con precisión debido a que las Listas Propias solo manejan prioridad 1.   b) Cuando realice la actualización de la plantilla deberá dejar los datos antiguos para mantener el histórico de la información ya registrada si así desea, pues solo se puede cargar una plantilla.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Para qué se utiliza el cargue masivo de listas propias?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Esta es una opción en nuestra herramienta que permite realizar un cargue masivo de una base de datos en la cual podrá incluir personas o empresas con las que se desea realizar prevención a futuro, evitando nuevos vínculos. Esta lista es personalizada para cada cliente y solo puede ser alimentada por un Rol Administrador.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué función cumple el submódulo notificaciones?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Este submódulo permite realizar la parametrización de los correos electrónicos para el envío de las notificaciones, en cuanto se encuentre una coincidencia al realizar una consulta en listas restrictivas. El usuario debe parametrizar los correos que desee para cada una de las prioridades de búsqueda.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Por qué los usuarios no pueden ser eliminados?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Los usuarios no son eliminados, se cambian a estado bloqueado para no perder la trazabilidad de la información consultada, o en caso de que un usuario deba ausentarse por un periodo de tiempo se pueda bloquear hasta su regreso y designar a otra persona con el mismo rol para efectuar sus funciones.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa el enunciado de cargo o delito en la herramienta?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Esta casilla hace referencia al delito cometido o a la acusación emitida en contra de la entidad o persona consultada. En el caso de los PEP´S se refiere a la a la función o cargo que desempeñe el tercero consultado.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    No se encontraron coincidencias de un tercero el cual se tiene conocimientos que está involucrado con algún delito.

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    En este caso se debe tener en cuenta que el alcance de nuestro servicio es alertar a nuestros clientes en temas relacionados a delitos LA/FT y que nuestra labor se limita a información que se encuentre en fuentes públicas de información.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿A que corresponde la lista delitos contra el sistema financiero?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    En esta lista se encuentran ingresadas personas sindicadas o juzgadas por delitos tales como: -Utilización indebida de fondos captados del público. -Operaciones no autorizadas con accionistas o asociados. -Captación Masiva y Habitual de Dinero. -Manipulación fraudulenta de especies inscritas en el Registro Nacional de Valores e Intermediarios
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Por qué no puedo generar el log de las consultas?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Esto puede suceder porque las consultas realizadas en el rango de fechas establecido sobrepasan el límite de resultados (90.000) que Inspektor puede mostrar, en este caso recomendamos seleccionar un rango de fechas inferior. Si tomando esta medida no se logra obtener la información, se puede poner en contacto con nosotros para escalar el caso a nuestra área correspondiente y darle soporte en su requerimiento.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Es necesario quitar los puntos para consultar en Inspektor?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Para realizar una consulta en nuestro aplicativo es necesario que se realice sin ningún carácter especial (comas, tildes, puntos, apóstrofos, entre otros...), estos se tienen que eliminar y los guiones se tienen que reemplazar con un espacio.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Qué significa la lista  53 - Entidades sin ánimo de lucro ?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Esta lista se implementó con la finalidad de informar a nuestros clientes, ya que las empresas sin ánimo de lucro presentan alto grado de vulnerabilidad a ser utilizadas para los delitos LAFT, según la recomendación 8 del GAFI. No significa necesariamente que la empresa esté envuelta en algún delito, se encuentra allí para que ustedes tengan un manejo especial.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿La lista de personas expuestas políticamente se encuentra actualizada?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Actualmente esta lista se encuentra actualizada según lo establecido por el decreto 1674 del 2016, el cual tiene como objeto definir quiénes son las Personas Expuestas Políticamente y en que consiste su obligación con el sistema financiero en razón de dicha condición.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Es posible eliminar el registro de actividad en Inspektor?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Este proceso no es posible llevarlo a cabo, ya que la información contenida en Inspektor no se puede eliminar.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>

                    ¿Por qué el aplicativo no me arroja coincidencias?

                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    Cuando en el aplicativo aparece el mensaje no arroja coincidencias con los parámetros de búsqueda, esto indica que la persona natural o jurídica no se encuentra registrada en ninguna de nuestras listas.
                </nb-accordion-item-body>
            </nb-accordion-item>




        </nb-accordion>
    </div>
</div>