
nb-card {
    max-width: 800px;
    max-height: 44.25rem;
}

.custom-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 90vh; /* Tamaño máximo de la modal (80% de la altura visible) */
    max-width: 120vw; /* Tamaño máximo de la modal (90% del ancho visible) */
    overflow-y: auto;
}

/* Estilos para el contenedor de las cards */
.cards-container {
    display: flex; /* Utilizamos flexbox para organizar las cards en una fila */
    justify-content: space-between; /* Espacio entre las cards para colocarlas a los extremos */
}

  /* Estilos para la card izquierda */
.left-card {
    position: relative;    
}

.left-card img {
    /* Define el tamaño pequeño que deseas que tenga la imagen al inicio */
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
}

  /* Estilos para la card derecha */
.right-card {
    font-size: 12px; /* Ajusta el tamaño del texto como desees */
}

/* Estilos para la imagen cuando se expande en pantalla completa */
.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.fullscreen-image img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: contain;
}
