.buttton-descarga {
    /* Estilos para el botón Excel */
    background-color: #00d68f;
    border-color: #00d68f;
    color: white;
    border-radius: 0.25rem;
    padding: 0.6875rem 1.125rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1rem;
    transition: opacity 0.3s ease-in-out;
    // transition-duration: 0.15s;
    // transition-property: background-color, border-color, box-shadow, color;
    transition-timing-function: ease-in;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.buttton-descarga:hover {
    opacity: 0.5; /* Reduce la opacidad del botón al 80% cuando el cursor está sobre él */
}