<nb-card>
    <nb-card-header>
        {{ "AccessComponent.Administrar_usuarios" | translate}} 
    </nb-card-header>

    <nb-card-body>
        <!--<label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="source" id="search" class="search-input">-->

        <!--<nb-card-body>
            <nb-form-field>
                <button status="primary" (click)="toggleShowPassword()" nbButton nbSuffix>
                    <nb-icon icon="nb-plus"></nb-icon>
                </button>
                <input [type]="getInputType()" nbInput>
            </nb-form-field>
        </nb-card-body>-->

        <div class="row mb-3">
            <div class="col-md-1">
                <button (click)="create()" status="primary" nbButton nbSuffix> {{ "Components.Agregar" | translate}}</button>
            </div>
            <div class="col-md-11 searchbar">
                <nb-form-field>
                    <input [(ngModel)]="search"
                           (keyup)="searchUser($event)"
                           nbInput>
                    <button ghost nbButton nbSuffix>
                        <nb-icon [icon]="'search-outline'"
                                 pack="eva">
                        </nb-icon>
                    </button>
                </nb-form-field>
            </div>
        </div>

        <ng2-smart-table class="example-smart-table"
                         (edit)="onEdit($event)"
                         (delete)="onDelete($event)"
                         [(settings)]="settings"
                         [source]="source">
        </ng2-smart-table>

    </nb-card-body>
</nb-card>
